.pnav{
  
  background-color:#262424;
  margin-bottom:10px;
  
  
  
}




#topnav{
  margin-top: 10px;
  float: right;
  
  li{
    display: inline;
    padding: 5px 7px;
  }
  
  
  
}
#sitetitle{
  
  
  margin-top:10px;
  font-family:impact;
  font-size: 30px;
  color:white;
  
  
}

.twitter-timeline{
  
  margin-left: 5px;
  
  
  
}

#footer{
  
  border-top: 1px solid #ddd;
  padding-top:20px;
  margin:20px;
  
  
}

