<% content_for :page_title, "About us" %> 

<h2>
  A little about us....
</h2>

<p>
  We are a group of personal trainers dedicated to helping you stay fit at home during the pandemic. If you are a trainer please register to post your workouts </br>
if you are working out please select your work out from the relevent catagory
</p>