<% content_for :page_title, "Blog" %> 


<h2>
  Blog Page
</h2>
<p1>hi welcome to our blog page,hi welcome to our blog pagehi welcome to our blog pagehi welcome to our blog pagehi welcome to our blog pagehi welcome to our blog pagehi welcome to our blog pagehi welcome to our blog pagehi welcome to our blog pagehi welcome to our blog page </p1>
