<div class="container">
  <div class="row">
    <div class="col" id="footer">
      
      <p>
  copyright &copy;<%= Date.current.strftime("%Y")%> <!--using date helper to get current date-->
</p>
      
    </div>
   </div>
</div>



